<!-- your html code here -->
<div class="container-fluid bg-white">
    <div class="container">
        <h3>Portafolio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title txt text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title txt text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://picsum.photos/200/200" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title txt text-primary">Card title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>