<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portada con Título</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="position-relative">
          <img src="assets/img/bg.jpg" alt="Imagen de portada" class="img-fluid">
          <h1 class="position-absolute top-50 start-50 translate-middle text-white">One Page Wonder</h1>
          <h1 class="position-absolute top-50 start-50 translate-middle text-white">One Page Wonder</h1>
     
        </div>

      </div>
    </div>
  </div>

  <!-- Enlace al archivo de scripts de Bootstrap (jQuery requerido) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
